<%- include('_headers.ejs') %>
<%- include('_messages') %>
<h2>Search Games</h2>
<form action="/games" method="GET">
<label>Team</label>
<input type="text" name="name">
<button type="submit">Search</button>
</form>
<br>
<% game_number = 1 %>
<% games.forEach(game => {  %>
  <div id="container">
    <a href="/games/<%= game.id %>">Game <%= game_number %></a>
  <p class="lead mb-3">Team A: <%= game.team_a %> , Odds: <%= game.odds_a %></p>
  <p class="lead mb-3">Team B: <%= game.team_b %> , Odds: <%= game.odds_b %></p>
  <p class="lead mb-3">Draw Odds: <%= game.odds_draw %></p>
  <p class="lead mb-3">Over/Under: <%= game.ougoals %> goals => Over Odds: <%= game.odds_ogoals %> <br> Under Odds: <%= game.odds_ugoals %></p>
  <p class="lead mb-3">Started: <%= game.started %></p>
  <p class="lead mb-3">Completed: <%= game.completed %></p>
  <a href="/games/<%= game.id %>/edit">Edit</a>
  <a href="/games/<%= game.id %>/result">Enter result</a>
  <form method="POST" action = "/games/<%= game.id %>?_method=DELETE">
    <button type="submit" class="glyphicon glyphicon-plus btn-sm">Delete</button>
  </form>
  </div>
  <% game_number += 1 %>
 <% }) %>

