<%- include('_headers_public.ejs') %>
<h2> <%= game.team_a %> vs <%= game.team_b %></h2>
<p class="lead mb-3"><%= game.team_a %> => Odds: <%= game.odds_a %></p>
  <p class="lead mb-3"><%= game.team_b %> =>  Odds: <%= game.odds_b %></p>
  <p class="lead mb-3">Draw Odds: <%= game.odds_draw %></p>
  <p class="lead mb-3">Over/Under: <%= game.ougoals %> goals<br> Over Odds: <%= game.odds_ogoals %> <br> Under Odds: <%= game.odds_ugoals %></p>
  <p class="lead mb-3">Started: <%= game.started %></p>
  <p class="lead mb-3">Completed: <%= game.completed %></p>
  <p class="lead mb-3">User Balance: <%= users.balance %></p>
  <form action="/games/list" method="POST" class="form-inline">
    <div class="form-group">
      <label for="stake">Stake</label>
      <input type="number" step="0.01" min="1" max="<%= users.balance%>" class="form-control" name="stake"  placeholder="Stake">
    </div>
    <select name="bettype" class="form-control">
      <option label="<%= bettype[0] %> to win" value="<%= bettype[0] %> to win">
      <option label="<%= bettype[1] %> to win" value="<%= bettype[1] %> to win">
      <option label="<%= bettype[2] %>" value="<%= bettype[2] %>">
      <option label="<%= bettype[3] %>" value="<%= bettype[3] %>">
      <option label="<%= bettype[4] %>" value="<%= bettype[4] %>">
    </select>
    <div class="form-group">
      <input type="text" class="form-control" name="gameid" value="<%= game.id %>" placeholder="<%= game.id %>" hidden>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="game_title" value="<%= game.team_a %> vs <%= game.team_b %>" placeholder="<%= game.id %>" hidden> </div>
    <button type="submit" class="btn btn-default">Bet</button>
  </form>
  <%- include('_messages') %>
