<!-- Starts with _ because it is partial file that isnt dsiplayed on server -->
<label>Team A</label>
<input type="text" name="team_a" value="<%= fantasygame.team_a %>">
<label>Odds</label>
<input type="text" name="odds_a" value="<%= fantasygame.odds_a %>">
<div>
  <label>Team B</label>
  <input type="text" name="team_b" value="<%= fantasygame.team_b %>">
  <label>Odds</label>
  <input type="text" name="odds_b" value="<%= fantasygame.odds_b %>">
</div>
<div>
  <label>Draw Odds</label>
  <input type="text" name="odds_draw" value="<%= fantasygame.odds_draw %>">
</div>
<div>
<label>Game Week</label>
<input type="Number" name="game_week" value="<%= fantasygame.game_week %>">
</div>