<%- include('_headers_public.ejs') %>
<h2> <%= fantasygame.team_a %> vs <%= fantasygame.team_b %></h2>
<p class="lead mb-3"><%= fantasygame.team_a %> => Odds: <%= fantasygame.odds_a %></p>
  <p class="lead mb-3"><%= fantasygame.team_b %> =>  Odds: <%= fantasygame.odds_b %></p>
  <p class="lead mb-3">Draw Odds: <%= fantasygame.odds_draw %></p>
  <p class="lead mb-3">User Balance: <%= users.balance %></p>
  <form action="/fantasy/list" method="POST" class="form-inline">
    <div class="form-group">
      <label for="stake">Stake</label>
      <input type="number" step="0.01" min="1" max="<%= users.balance%>" class="form-control" name="stake"  placeholder="Stake">
    </div>
    <select name="bettype" class="form-control">
      <option label="<%= bettype[0] %> to win" value="<%= bettype[0] %> to win">
      <option label="<%= bettype[1] %> to win" value="<%= bettype[1] %> to win">
      <option label="<%= bettype[2] %>" value="<%= bettype[2] %>">
    </select>
    <div class="form-group">
      <input type="text" class="form-control" name="gameid" value="<%= fantasygame.id %>" placeholder="<%= fantasygame.id %>" hidden>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="game_title" value="<%= fantasygame.team_a %> vs <%= fantasygame.team_b %>" placeholder="<%= fantasygame.id %>" hidden> </div>
    <button type="submit" class="btn btn-default">Bet</button>
  </form>
  <%- include('_messages') %>
